
@model Operation.Contract.PendingCommission
@{
    ViewBag.Title = "PendingAmount";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @*WebGrid grid =
    new WebGrid(Model.pendingAmount, rowsPerPage: 10, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "grid");
}*@
    }
@section seccss{
    <link href="@Url.Content("~/Css/bootstrap-datetimepicker.css")" rel="stylesheet" />
    <link href="~/Css/jquery.dataTables.min.css" rel="stylesheet" />
}
<section class="content">
@using (Html.BeginForm("PaymentsHistory", "Dashboard", FormMethod.Post, new { id = "FrmPaymentsHistory", name = "FrmPaymentsHistory" }))
            {
    <div class="row">
        <div class="col-md-12">
            @{ Html.RenderPartial("DashboardMenuList"); }
                                </div>
                            </div>
        <div class="row" style="margin:15px 0 0px -30px;">

                <div class="col-md-12">
                    <div class="col-md-6">
                    <div class="accordion">
                        <div class="accordion-section">
                            <a class="accordion-section-title btn btn-default btn-sm btn-them" href="#accordion-1">User Pending Cancellation Charges</a>
                            <div id="accordion-1" class="accordion-section-content">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table id="Accordian_userpending" class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Booking No.</th>
                                                        <th>Booking Date</th>
                                                        <th>Vehicle Type</th>
                                                        <th>Vehicle No.</th>
                                                        <th>Location From</th>
                                                        <th>Location To</th>
                                                        <th>Cancellation Remarks</th>
                                                        <th>Cancellation Amount</th>
                                                    </tr>
                                                </thead>
                                                    @*<tbody>
                                                            @foreach(var item in )
                                                    {
                                                        <tr>
                                                            <td>@Html.DisplayFor(i=>item.BookingNo)</td>
                                                            <td>@Html.DisplayFor(i => item.BookingDate)</td>
                                                            <td>@Html.DisplayFor(i => item.VehicleType)</td>
                                                            <td>@Html.DisplayFor(i => item.VehicleNo)</td>
                                                            <td>@Html.DisplayFor(i => item.LocationFrom)</td>
                                                            <td>@Html.DisplayFor(i => item.LocationTo)</td>
                                                            <td>@Html.DisplayFor(i => item.CancellationRemarks)</td>
                                                            <td>@Html.DisplayFor(i=>item.CancellationAmount)</td>
                                                        </tr>
                                                    }
                                                </tbody>*@
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-6">

                    <div class="accordion">
                        <div class="accordion-section">
                            <a class="accordion-section-title btn btn-default btn-sm btn-them" href="#accordion-2">Driver Commission amount pending to Pick-C</a>
                            <div id="accordion-2" class="accordion-section-content">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table id="Accordian_drivercommission" class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Driver Id</th>
                                                        <th>Driver Name</th>
                                                        <th>Vehicle No.</th>
                                                        <th>Booking No.</th>
                                                        <th>Booking Date</th>
                                                        <th>Trip Amount</th>
                                                        <th>Payment Type</th>
                                                        <th>Commission Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.driverPendingCommision)
                                                    {
                                                    <tr>
                                                   
                                                        <td>@Html.DisplayFor(i => item.DriverId)</td>
                                                        <td>@Html.DisplayFor(i => item.DriverName)</td>
                                                        <td>@Html.DisplayFor(i => item.VehicleNo)</td>
                                                        <td>@Html.DisplayFor(i => item.BookingNo)</td>
                                                        <td>@Html.DisplayFor(i => item.BookingDate)</td>
                                                        <td>@Html.DisplayFor(i => item.TripAmount)</td>
                                                        <td>@Html.DisplayFor(i => item.PaymentType)</td>
                                                        <td>@Html.DisplayFor(i => item.CommissionAmount)</td>
                                                    
                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

          </div>
       </div>
        
        

    }
</section>
@section secscripts{
<script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script src="@Url.Content("~/Scripts/moment-with-locales.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('#pendingAmount').parent().addClass('active');
          //  $('.pagination ul li a').attr('href', '#');

            $(document).ready(function () {
                $('#accordion').accordion();
                $('#Accordian_userpending').dataTable();
                $('#Accordian_drivercommission').dataTable();
            });
            $(document).ready(function () {

                function close_accordion_section() {

                    $('.accordion .accordion-section-title').removeClass('active');
                    $('.accordion .accordion-section-content').slideUp(300).removeClass('open');
                }

                $('.accordion-section-title').click(function (e) {
                    debugger
                    // Grab current anchor value
                    var currentAttrValue = $(this).attr('href');

                    if ($(e.target).is('.active')) {
                      //  close_accordion_section();
                    } else {
                      //  close_accordion_section();

                        // Add active class to section title
                        $(this).addClass('active');
                        // Open up the hidden content panel
                        $('.accordion ' + currentAttrValue).
                            slideDown(300).addClass('open');
                    }

                });
            });

            $(function () {
                $('#pendingAmount').parent().addClass('active');
            });
            $('.dtCss').datetimepicker({
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-arrow-up',
                    down: 'fa fa-arrow-down',
                    previous: 'fa fa-arrow-left',
                    next: 'fa fa-arrow-right'
                },
                format: 'DD/MM/YYYY'
            });
        });
    </script>
}

<style>
    .accordion, .accordion * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .accordion {
        overflow: hidden;
        box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
        border-radius: 3px;
        background: #f7f7f7;
    }

    .accordion-section-title {
        width: 100%;
        padding: 15px;
        display: inline-block;
        border-bottom: 1px solid #1a1a1a;
        background: #333;
        transition: all linear 0.15s;
        margin: 0 0 30px 0;
        font-size: 1.200em;
        text-shadow: 0px 1px 0px #1a1a1a;
        color: yellow;
    }

        .accordion-section-title:active, .accordion-section-title:hover, .accordion-section-title:focus {
            background-color: rgb(236, 236, 58);
            text-decoration: none;
        }

    .accordion-section:last-child .accordion-section-title {
        border-bottom: none;
    }


    .accordion-section-content {
        padding: 15px;
        display: none;
    }
</style>

